// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.


//$v-background-color: red;

$v-app-background-color: #fff;

$v-selection-color: $brand-color;
$v-focus-color: $brand-color-2;

//$v-font-color: red;

$v-border-radius: 3px;
$v-gradient: false;
$v-bevel-depth: 42%;
$v-shadow-opacity: 5%;

$v-font-size: 14px;
$v-unit-size: 34px;
$v-font-weight: 400;
$v-font-family: Roboto, sans-serif;
$font-weight-light: 300;

$my-layout-margin: 15px;
$v-layout-margin-left: $my-layout-margin;
$v-layout-margin-right: $my-layout-margin;
$v-layout-margin-top: $my-layout-margin;
$v-layout-margin-bottom: $my-layout-margin;

$v-layout-spacing-horizontal: 10px;
$v-layout-spacing-vertical: 15px;


$v-grid-row-background-color: #fff;
$v-grid-row-stripe-background-color: $v-grid-row-background-color;

$v-grid-header-background-color: #eee;
$v-grid-header-font-size: $v-font-size;
$v-grid-cell-focused-border: none;

@import "../valo/valo.scss";

@import "colors";

@import "components/button";
@import "components/tabsheet";
@import "components/navi-list.scss";
@import "components/textfield";
@import "components/toggle";

@import "areas/navi-sidebar";
@import "areas/view-header";
@import "areas/view-footer";
@import "areas/view-detail";


$v-included-components: remove($v-included-components, optiongroup);


@mixin mytheme {
  @include valo;
  @include button;
  @include navi-sidebar;
  @include view-header;
  @include view-footer;
  @include view-detail;
  @include navi-list;
  @include tabsheet;
  @include textfield;
  @include toggle;

  // Insert your own theme rules here


}
