@mixin navi-sidebar {

    .navi-sidebar {
        background: $brand-color;
        width: 200px;
        color: #fff;

        .app-title {
            color: currentColor;
        }

        .user-image {
            border-radius: 50px;
            border: 2px solid currentColor;
        }

        .v-menubar-menuitem {
            color: currentColor;
            font-size: 14px;
            font-weight: $font-weight-light;
        }


    }

}