@mixin view-detail {

  .view-detail {
    background: $dark-bg;

    @include valo-optiongroup;

    .v-radiobutton label {
      font-weight: $v-font-weight;
    }

    .v-panel {
      background: $dark-bg;
    }

  }

}