@mixin navi-list {

    .navi-list {

        border-top: 1px solid white;
        padding-top: $v-layout-margin-top;

        .v-radiobutton {
            padding-left: 0 !important;
            margin-right: 0;

            > input ~ label {
                &:before, &:after {
                    display: none !important;
                }
            }
            label {
                box-sizing: border-box;
                width: 100%;
                padding-left: round($v-unit-size / 2);
                border-radius: $v-border-radius;
                line-height: $v-unit-size;
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
            }
            input:checked + label {
                background: rgba(0, 0, 0, 0.2);
            }

        }
    }

}